

.timeline-item-1 {
	border-left: 3px solid white;
	border-bottom: 3px solid white;
}
.timeline-item-2 {
	border-right: 3px solid white;
	border-bottom: 3px solid white;
}
.yearLeft {
	position:relative;
	left: -9%;
}

.yearRight{
	position:relative;
	left: 101%;
}

.gameInfo {
	left:20%;
	top:51px;
	z-index: 1;
}
